
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap');


.site-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
}
.cursiva{
		font-family: 'Playfair Display', serif;
}
.site-content {
		flex: 1;
}
.grecaptcha-badge {
		bottom: 83px!important;
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
body{
		font-family: 'Montserrat', sans-serif!important;
}
main {
		background-color: #f6f6f6;
}
/*header*/

header {
		background: rgb(33 37 41 / .95)!important;
		min-height: 60px;
		position: relative;
}
.datos_right {
    position: absolute;
    right: 0;
}



@media(min-width:1200px){ 
	.page-template-indexplantilla-page-php.logged-in header {
			margin-top: 32px;
	}
	.page-template-indexplantilla-page header {
			background: unset!important;
	}
		.page-template-indexplantilla-page  header {
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1000;
				border-bottom: none!important;
				background-color: transparent;
				color:#ffffff
		}
		.home .cart-contents:before {
				
				color: #ffffff!important;
		}
		
		.home header li a {
		
				color: #ffffff!important;
		}
		.home .current_page_item a, .home .current_menu_item a {
				font-weight: bold;
		}
		.home header .fixed-top li a {
				color:rgba(0,0,0, .6)!important
		}
}

/*topbar*/
.topbar {
		padding: 5px 25px;
		
}
/*.topbar::after {
		content: '';
		display: block;
		border-bottom: 1px solid #00a5cb;
		padding: 10px 0 0;
}*/

.navbar-brand h1, .home-link-fix h1, .home-link-xs h1 {
		color: #525f80;
		font-size: 20px;
		font-variant: small-caps;
}
.navbar-brand a {
		text-decoration: none;
}


.topbar .redes li a {
		font-size: 20px;
		height: 30px;
		width: 30px;
		color: #FFFFFF;
		text-decoration: none;
}

.topbar h3.title-datos.cursiva {
		color: #525f80;
		text-transform: capitalize;
		text-align: center;
}
/*header nav#menu-theme {
		border-top: 3px solid#971623
}*/

.topbar .header-redes {
		justify-content: center;
}
/*
li.telefonos, li.redes {
		padding-right: 15px;
		border-right: 2px solid#971623
}




ul#tabla-navdatos li {min-height: 45px;}*/
.header-tel a {
		color: #525f80
}
.header-tel a:hover, .header-tel a:focus{
		text-decoration: none;
		color: #525f80;
}

ul#tabla-navdatos {
		justify-content: flex-end;
}

li.telefonos, li.redes {
		padding-right: 20px;
		border-right: 2px solid #FFFFFF
}

li.telefonos span, li.redes span {
		font-size: 14px;
		margin-top: -5px;
}

ul#tabla-navdatos li, ul#tabla-navdatos li a {
		text-align: center;
}
h3.title-datos {
		font-size: 18px;
		font-weight: 400;
}
li.carrito-compras {
		padding-left: 15px;
}
a.home-link-lg img {
		height: auto;
		width: 150px;
		transition: all .2s ease-in;
		display: block;
		margin: auto
}

/*fin topbar*/
#info img{
		width: 200px;
		height: auto;
}

#info .marca{
		font-family: 'Source Serif Pro', serif;
		font-weight: 600;
		color: rgba(82, 82, 82, 0.65);
		margin: 15px 0 0 0;
		line-height: 30px;
}
@media(max-width:1200px){

		/*div#info {
				padding-left: 0;
				min-width: 300px;
				width: auto;
		}*/
		.navbar-brand {
				position: relative;
				margin: 5px 0 0;
				z-index: 1010;
		}
}
#info p.small {
		font-weight: 500;
		color: #888888;
		display: block;
		font-family: 'Quicksand', sans-serif;
		font-size:16px
}

ul.contact {
		font-size: 20px;
		font-weight: 700;
}
ul.contact a.nav-link {
		color: #00a5c8!important;
		display: inline-block;
}
ul.contact a.nav-link:hover {
		color: #7b7b7b!important;
		display: inline-block;
}

#info p.small span {
		color: #7b7b7b;
}
.current_page_item a, .current_menu_item a {
				font-weight: bold;
}
.current_page_item .dropdown-menu a, .current_menu_item .dropdown-menu a {
		font-weight: unset;
}
/*search form*/
#zonabuscador .widget-class {
		border-radius: 11px;
		border: 1px solid #7b7b7b;
		padding: 4px 10px;

}

#zonabuscador input {
		border-radius: 11px;
		border: none;
}

#zonabuscador #searchsubmit {
		border: none;
		padding: 0 5px;
		background:transparent;
}
/**/
@media(min-width:992px){
		nav#menu-theme {
				background-color: transparent;

		}
}

@media(max-width:768px){
		.navbar-brand img{
				position: relative;
				margin:0px;
				height:auto;
				width: 120px!important;
				padding: 5px 0;
		}
		#dataresponsive{
				display: none!important;
		}
}
#menu-theme  a {
		/*font-family: 'roboto', sans-serif;*/
		color: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 14px;
}
#menu-theme a img {
		width: 150px;
		height: auto;
}
#menu-theme .dropdown-menu a.nav-link {
		color:#971623!important
}

#menu-theme ul.dropdown-menu {
		min-width: 250px!important;
		width: auto!important;
}
#menu-theme  a:hover, ul#menu-theme  a:focus {
				color:#971623;

}
.btn-sitio a {
		background-color: #fff;
		border-radius: 5px;
		color:#971623!important;
		transition: all ease-in .4s;
}
.btn-sitio a:hover{
	color: #fff!important;
		background-color:#971623!important;
}

.dropdown .nav-link:after {
	font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0dd"; margin-left:5px
}
.dropdown-menu .nav-link:after{
		display:none
}

/*div#navbarTogglerDemo02 {
		justify-content: center;
}*/

/*nav stickystyles*/
div#navbarTogglerDemo02 {
		justify-content: flex-end;
}
nav.fixed-top {
		background: rgb(33 37 41 / .95)!important;
		border-top: #fff!important;
		box-shadow: 1px -1px 6px #1c1c1c;
		z-index: 10000;
}
.logged-in nav.fixed-top {
		top: 31px;
}
.fixed-top a.home-link-xs img {height: 100px;}


.fixed-top #navbarTogglerDemo02 {
		justify-content: flex-end!important;
		margin-right: 10px;
}
@media(min-width:997px){
		.fixed-top a.home-link-lg{
				display:none!important
		}
		.fixed-top a.home-link-xs{
				display:block!important

		}
		.fixed-top a.nav-link {
				font-size: 12px!important;
		}
}


/*footer*/
footer {
		background: #131313;
		color: #fff;
		text-align: justify;
		min-height: 230px;
		height: auto;
		padding: 50px 0;
		/*border-top: 4px solid#971623;*/
}
footer  h2 {
		text-align: center;
		margin: 0 0 20px;
		padding: 0 0 10px
}
div#footermenu a {
		color: #fff;
		padding: 5px;
}
.logo-ftr img {

		width: 40%;
		margin: auto;
}
img.mp {
		display: block;
		margin: 0 0 0 auto;
		height: 68px;
}
#datafooter h3 {
		font-size: 18px;
}
#datafooter p{
		margin-bottom:0px;
		font-size: 14px;
}
@media(max-width:991px){
		#datafooter div{
				margin-bottom:25px;
				width:100%;
		}
}
div#datafooter {
		justify-content: space-between;
}


footer {
		display: flex!important;
		justify-content: center;
		align-items: center;
}
/*div#mennu-footer nav a {
		color: #fff;
		font-size: 14px;
		padding: 5px;
}
div#mennu-footer nav{
		text-align: center;
}
p.txt-empresa {
		font-size: 14px;
		font-weight: 300;
}

h4.tittle-footer {
		display: block;
		border-bottom: 1px solid;
		padding: 10px 0;
		font-size: 20px;
		font-family: 'Source Serif Pro', serif;
		font-weight: 600;
}

.ftr-img {
		width: 100px;
		margin: 0 0 0 auto;
}
.contacto p {
		margin: 0;
}
.txt-empresa strong {
		font-weight: 700;
}

p.contact-tittle {
		font-weight: 600;
}

p.contact-data {
		font-weight: 600;
		font-size: 21px;
}
.contact-data a, .contact-data a:hover {
		color: #fff;
		text-decoration: none;
}
footer .redes li a {
		font-size: 18px;
		height: 30px;
		width: 30px;
		color: #fcfcfc;
		border: 2px solid;
}
footer .empresa img {
		width: 200px;
		margin-bottom: 10px;
}
footer .redes {
		padding: 10px 0;
}
footer .iso {
		width: 136px;
		margin: 0 auto;
}
footer .redes li {
		margin: 0px 5px 
}*/
/*slides*/
/*slides*/
.carousel-item {
		background-position: center;
		/*height: 60vh!important;*/
}
@media(min-width:992px){
	.content-slide {
			padding: 25px;

	}

	.content-slide h1 {
			width: 60%!important;
			font-size: 44px!important;
	}
}
.content-slide {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 60;
		position: absolute;
		top: 0;
}

.content-slide h1 {
		color: #fff;
		letter-spacing: 1px;
		text-shadow: 0 1px 3px #3e3e3e;
		line-height: 125%;
		display:block;
		width: 90%;
		margin:auto;
		text-align:center;
		font-family: 'Playfair Display', serif;
		font-weight: 700;
		font-size: 24px;
}
#slide-home .overlay {
		height: 100%;
		background: rgba(28, 28, 28, .3);
		width: 100%;
		position: absolute;
		top: 0;
}
#home-carousel .carousel-caption {
		color: #454545;
		width: 800px;
		min-height: 160px!important;
		height: auto;
		top: 30%;
		left: 0;
		padding-top: 0;
		font-size: 30px;
		font-weight:300;
		line-height: 34px;
		text-align: justify;
}
#home-carousel .carousel-caption p{
		margin: 0px 0 0px 0;
		display: block;
		background-image: url(../img/slide/puntitos.png);
		background-repeat:repeat-y;
		padding-left: 350px;
}
#home-carousel .carousel-caption img{
		min-width:200px; display:block; width:auto; margin-left:345px;
}
#home-carousel .carousel-control-next, #home-carousel .carousel-control-prev { 
		width: auto!important; opacity: .2; z-index: 1500;
}
#home-carousel .carousel-control-next:focus, #home-carousel .carousel-control-next:hover, 
#home-carousel .carousel-control-prev:focus, #home-carousel .carousel-control-prev:hover {
		opacity: .4;
}
/*news*/
#suscripcion-news {
		min-height: 80px;
		background-color:#971623;
		color: #fff;
		position: relative;
		padding: 5px 0;
		height: auto;
		min-height: 250px;
		padding: 100px 0 50px;
}

.newcontenedor {
    background-color: rgb(33 37 41 / .75)!important;
    padding: 20px;
    min-height: 300px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
		border-radius: 15px;
		box-shadow: 0 2px 4px #000000;
}

.newcontenedor input.wpcf7-submit {
    background-color: #971623!important;
}
.newcontenedor #suscripcion-news input{
    border:none!important
}
.newcontenedor span.cursiva {
    font-size: 24px;
    font-weight: 600;
}

#suscripcion-news h3 { 
		padding-top:10px; font-size: 20px; font-weight:300;
}
#suscripcion-news input, #suscripcion-news label {
		width: 100%!important;
		height: 40px;
		padding: 0 15px;
		border-radius: 5px;
		font-size: 14px;

}
div#news-form .row {
		padding: 19px 0 0;
}

#suscripcion-news input::placeholder{
		text-align:center;
}
#suscripcion-news .wpcf7-submit {
		background-color: #7b7b7b;
		border: none;
		color: #fff;
}
#suscripcion-news .wpcf7-submit:hover {
		background-color: #fff;
		color: #7b7b7b;
}
#suscripcion-news .wpcf7 form.sent .wpcf7-response-output {
    border: none!important;
    border-top: 2px solid!important;
    margin: 20px 0 0!important;
    padding: 30px;
}
/*fin news*/
/*Partners*/
.partners .productos img {
		display: block!important;
		filter: grayscale(1);
		transition: all .4s ease-in;
}
.partners .productos li:hover img {
		filter: grayscale(0.1);
}
/**/
/*destacados*/
section#destaque {
		background-color: #1c1c1c;
		color: #fff;
		padding: 70px 0px;
		position: relative;
}
@media(min-width:993px){
		div#iconos {
				position: absolute;
				top: -40px;
				background: #fff;
				width: 60%;
				margin: auto;
				left: 20%;
				right: 20%;
				z-index: 200;
				box-shadow: 1px 3px 3px #1c1c1c;
		}
}
h4.texto-destaque {
		color: #7b7b7b;
		font-size: 16px;
		text-align: center;
		font-weight: 300;
		text-align: center;
}
.texto-destaque strong {
		font-weight: 600;
		letter-spacing: 1px;
		/*font-variant: small-caps;*/
		display: block;
}
.icono-destacado {
		/*border-top: 2px solid #fff;
		border-bottom: 2px solid #fff;*/
		min-height: 220px;
		padding: 20px 0;
}
.icono-destacado img {
		width: 41%;
}

#iconos .msjdestacado {
		display: flex;
		align-items: center;
}

#iconos h3.desttxt {
		color: #404142;
		margin: 40px;
		font-family: lato;
}

#iconos .destimng {
		padding: 0px;
		background-position: center;
}

/*section#destaque::after {
		content: '';
		display: block;
		width: 95%;
		border-bottom: 2px solid#971623
		margin: auto;
}
section#destaque::before {
		content: '';
		display: block;
		width: 95%;
		border-bottom: 2px solid #971623
		margin: auto;
}*/

/*fin destacados*/
/*Productos destacados*/
section#productos-destacados {
		/*background-color: #7b7b7b;
		color: #fff;*/
		padding: 50px 0;
		min-height: 80vh;
		display: flex;
		align-items: center;
		background-color: #1c1c1c;
		color: #fff;
}

.productocard {
		background: #fff;
		min-height: 430px;
		border: 1px solid #d3d3d3;
		/* border-radius: 10px; */
		box-shadow: 1px 4px 3px #1c1c1c;
		color: #1c1c1c;
		padding: 10px;
		text-align: center;
}

a.btn-tienda {
		background-color:#971623;
		padding: 5px 25px;
		display: block;
		/* min-width: 109px!important; */
		width: 75%;
		margin: 15px auto;
		color:#fff
}

a.btn-tienda:hover {
		background-color: #fff;
		border: 2px solid#971623
}


div#tituloseccion {
		display: flex;
		flex-direction: column;
	
}
@media(min-width:993px){
		div#tituloseccion {
				padding: 12% 0px 0px;
		}
}
#tituloseccion a.btn-tienda{
		margin-top: auto;
		width: 90%!important;
		color:#fff
}

#tituloseccion a.btn-tienda:hover {
		background-color:unset;
}
#productos-destacados h2.titulo {
		padding-bottom: 25px;
		display: block;
		border-bottom: 2px solid #fff;
		margin-bottom: 25px;
		font-size: 28px;
}
#productos-destacados h4.producto-precio {
		font-size: 18px;
}
#productos-destacados .imagen-prodest {
		background-position: center;
		height: 270px!important;
		margin-bottom: 10px;
}
#slide-proddest .dataproducto {
		height: 100%;
		display: flex;
		flex-direction: column;
		background-color: rgba(49, 49, 49, .3);
		justify-content: center;
		opacity: 0;
		transition: all .6s ease-in;
}

#slide-proddest h3.producto-nombre {
		color: #fff;
}

#slide-proddest .producto-precio {
		color: #fff;
}
#slide-proddest .carousel-item:hover .dataproducto{
		opacity: 1;
}

#slide-proddest .dataproducto .btn-tienda {
		border: none;
		background: transparent;
		color: #ffff;
}
/*botonera productos */
#prod-botonera {
		background: #efefef;
		padding: 50px 0;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
}

.tittle-botonera h3 {
		font-size: 36px;
		
}
.productos{
		margin: 20px 0px;
		padding: unset!important;
}

.productos li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 4px;
		background: rgba(255,255,255, 0.8);
		flex-direction: column;
		background-position: center center;
		position: relative;

}
.productos li {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
		font-family: 'Playfair Display', serif;
}

.productos a {
	color:#000000
}
@media(min-width:1200px){
		.productos li {
				font-size: 20px!important;
				letter-spacing: 2px!important;
		}
}
.productos a {
		text-shadow: 1px 1px 2px #1c1c1c;
		color: #fff!important;
		display: block;
		padding: 47% 15px;
		text-align: center;
		width: 100%;
		height: 100%;
		background: rgba(151, 22, 35, .7);
		transition: all .4s ease-in;
		opacity: 0;
		position: absolute;
		
}

.productos a:hover, .productos a:focus {
		opacity: 1;
		text-decoration: none;
}
/*#link01 {
		background-image: url('../img/products/links-01.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link02 {
		background-image: url('../img/products/links-02.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link03 {
		background-image: url('../img/products/links-03.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link04 {
		background-image: url('../img/products/links-04.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link05 {
		background-image: url('../img/products/links-05.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link06 {
		background-image: url('../img/products/links-06.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link07 {
		background-image: url('../img/products/links-07.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link08 {
		background-image: url('../img/products/links-08.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link09 {
		background-image: url('../img/products/links-09.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
#link10 {
		background-image: url('../img/products/links-10.jpg');
		background-repeat:no-repeat;
		background-size: cover;
}
.productos img {
		display: none!important;
}/*

/*carrito icon*/
.cart-contents:before {
		font-family:WooCommerce;
		content: "\e01d";
		font-size:22px;
		margin-top:10px;
		font-style:normal;
		font-weight:400;
		padding-right:5px;
		vertical-align: bottom;
		color: #FFFFFF

}
.cart-contents:hover {
		text-decoration: none;
}
.cart-contents-count {
		color: #fff;
		background-color: #7b7b7b;
		font-weight: bold;
		border-radius: 25px;
		padding: 6px 10px;
		line-height: 1;
		font-family: Arial, Helvetica, sans-serif;
		vertical-align: top;
}

/*fpago*/
#formas-pago{
		min-height:220px;
		height: auto;
		background-image: url(../img/fpago/bg.png);
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		padding: 20px 0;
		margin-bottom: 100px;
}
@media(min-width:768px){
		.img-fpago {
				position: absolute;
				min-width: 800px;
				margin: -44px 0 0 0;
		}
}
/**/
section#seccion-redes {
		min-height: 60px;
		padding: 50px 0px;
		position: relative;
		background-color: #383838;
		color: #fff;
		text-align: center;
}
#seccion-redes .redes {
		margin-top: 50px;
}
#seccion-redes a:hover {
		background-color:#971623;
		border-color:#971623;
		color: #383838
}
#seccion-redes a {
		background-color: #383838;
		border-color: #fff;
		transition: all .4s ease-in;
}

.redes li a {
		font-size: 24px;
		color: #fff;
		display: flex;
		width: 36px;
		height: 36px;
		/*border: 2px solid;
		border-radius: 50%;*/
		align-items: center;
		justify-content: center;
}
.redes li a:hover {
		text-decoration: none;
		background: #FFFFFF;
		/* border: 2px solid #971623; */
		color: #971623;
		border-radius: 50%;
}

.redes li {
		margin: 0 10px;
}
section#contacto-productos {
		background-color: #ffffff;
		clear: both;
}
/*nosotros*/
section#about_us {
		position: relative;
		background: #4d5873;
		color: #fff;
		padding: 50px 0px;
}

/*section#about_us::after {
		content: '';
		border-bottom: 2px solid#971623
		display: block;width: 90%;
		margin: 65px auto 0 auto;
}*/

#about_us h2 {
		padding-bottom: 25px;
		display: block;
		border-bottom: 2px solid #fff;
		margin-bottom: 25px;
		font-size: 28px;
}
#about_us p {
		font-size: 16px;
		font-family: montserrat;
		text-align: justify;
}
/*nosotros*/
/*search form*/
.card-tittle {
		color: #fff;
		background-color:#971623;
		padding: 10px;
		transition: all .2s ease-in;
		text-align: center;
}
.card-tittle h5{
		font-weight: 400;
		text-transform:uppercase;
		font-size:16px;
		text-align:center;
		border-bottom: 2px solid;
		padding-bottom: 5px;
}
.btn-vita {
		display: block!important;
		background-color: #7b7b7b!important;
		color: #fff!important;
		font-weight: 500!important;
		text-transform: uppercase!important;
		border-radius: 0!important;
		padding: 0px!important;
		margin: 0!important;
		transition: all .2s ease-in;
}

/*.btn-vita:hover {
		background: #ffffff!important;
		color: #7b7b7b!important;
}*/
main#busqueda a {
		text-decoration: none;
}
.card img {
		height: 200px;
		width: auto;
}
/*a:hover .card-tittle{

		background-color: #7b7b7b!important;


}*/

a:hover .btn-vita {
		background-color: #00a5c8!important;

}
.card-img-top {
		background-color: #fff;
		transition: all .2s ease-in;
		}

/*.enlacetienda:hover .card-img-top {
		background: #7b7b7b;
}*/

.enlacetienda:hover .card-img-top img {
		opacity: 0.6;
}
.card-img-top img {
		opacity:1;
		transition: all .2s ease-in;
}

/*page styles*/
.content-page {
		padding: 50px 10px;
}
.heading {
		height: 150px;
}

.heading h2 {
		color: #f6f6f6;
		font-size: 56px;
		text-shadow: 2px 2px 4px #383838;
		margin-left: 15px;
		text-align: center;
		font-weight: 900;
}
@media(max-width:767px){
		h2.tittle-page { width: 90%;  }
		
}
@media(max-width:991px){
		h2.tittle {
				font-size: 45px;
		}
}
@media(min-width:1200px){
		h2.tittle-page {
				width: 50%;   
		}
		.heading {
				height: 300px;
		}
}
@media(min-width:768px) and (max-width:1199px){
		h2.tittle-page {
				
				width: 75%;
				
		}
}


.texto-post {
		padding: 15px;
		border: 2px solid#971623;
		border-radius: 10px;
}

#contact-principal label, #contact-principal input, #contact-principal textarea {
		width: 100%;
}

#contact-principal .wpcf7-submit {
		background-color: #7b7b7b;
		border: none;
		color: #ffffff;
		border-radius: 5px;
}
#contact-principal .wpcf7-submit:hover{
		background-color:#00a5c8
}
/*footer2*/
.empresa h3 {
		font-size: 18px;
		font-variant: small-caps;
		text-align: left;
}
.footer-2 {
		background: #1c1c1c;
}

.consultar a:hover {
		color: #fff;
		text-decoration: none;
}

.consultar a {
		color: #ffffff;
		text-align: right;
		display: block;
		padding: 5px;
		line-height: 20px;
		text-decoration: none;
}
a.enlacetienda:hover {
		text-decoration: none;
}
/*responsive info*/
#dataresponsive p {
		text-align: center;
		margin: 0;
}
.card.product {
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 0px 1px 2px #495057;
		border: none;
		transition: all ease .6s;
}
.card.product:hover {
		box-shadow: 0px 1px 5px #495057;
		
}

#dataresponsive p a {
		padding: 0;
		color: #7b7b7b;
		text-decoration: none;
}
@media(max-width:480px){
		#dataresponsive p a {font-size: small;}
}
#dataresponsive p a:hover{
		text-decoration:none;
		color:#b03e9a
}
.related .card-tittle h5 {
		width: 100%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
}
/*Page contacto*/
iframe#mapa-aranguren {
		width: 100%;
		height: 712px;
}
.texto-post label, .texto-post input, .texto-post textarea{
		width: 100%!important;
}

.texto-post .wpcf7-submit{
		background-color: #971623;
    color: #fff;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
}
.texto-post .wpcf7-submit:hover,.texto-post .wpcf7-submit:focus{
		background-color:transparent;
		color:rgb(33 37 41 / .95)!important;;
		padding:5px 25px;
		border-radius:5px;
		border:2px solid;
}
/*wsp icon*/
.style-3 img.img-icon {
		height: 85px!important;
}
/*Envíos Page*/

.page-id-100 .texto-post h3 {
		color:#971623;
		font-size: 36px;
}

.page-id-100 .texto-post h4 {
		color: #7b7b7b;
}
/*insta pluggin*/
#sb_instagram #sbi_images .sbi_item.sbi_transition {
				opacity: 1;
				max-height: 250px;
}
#sb_instagram .sbi_follow_btn a {
		font-size: 18px;
		background: transparent!important;
		color: #383838!important;
		text-transform: uppercase;
}
#sb_instagram .sbi_follow_btn a:hover {
		box-shadow: none!important;
		background: transparent!important;
		font-weight: bold;
}
.sbi_photo img{
display:none!important
}
.about-redes-bg .sbi_photo{
		background-size:100%;
		background-position:center center;
		filter:blur(0px);
		transition: all .6s ease-in;
}
.about-redes-bg .sbi_photo:hover{
		background-size:120%;
}
.about-redes-bg .sbi_photo .sbi-screenreader{
		opacity:0;
		width: 100%!important;
		height: 213px!important;
		background: rgba(64, 64, 64, .2);
		position: absolute;
		top: 0;
		transition: all .6s ease-in;

}
.about-redes-bg .sbi_photo:hover .sbi-screenreader {
				opacity:1
}
/*404*/
.error404 .heading {
		height: 400px!important;
}

.error404 h2.tittle-page { display:none!important}
/*buscador menu*/
#menu-theme #zonabuscador {
		background: unset;
		padding: unset;
}

#menu-theme .widget-class {
		border: unset;
}


#menu-theme #zonabuscador #searchsubmit{
		color: #ffffff;
		width: 20%;
}

#menu-theme #zonabuscador form#searchform {
		border-radius: 15px;
		background-color: #f8c477;
		overflow: auto;
		width: 100%;
}
@media(min-width:992px){
		nav.fixed-top div#zonabuscador {
				display: none!important;
		}
}
#menu-theme .wc-search input#s {
		width: 70%;
		padding: 4px 10px;
		font-size: 12px;
}
/*buscador mobile*/
div#navbarTogglerDemo02 #zonabuscador {
		margin: auto;
		width:250px
		
}
div#navbarTogglerDemo02 #zonabuscador:before{
		content:'';
		display:block;
		border-top:1px solid #fff;
		padding-top:15px;
		margin-top:15px
}
/*estilos mistica*/
.frase {
		text-align: center;
		margin-left: 10px;
		color:#FFFFFF
}

.frase h1 {
		border-bottom: 2px solid;
		padding-bottom: 5px;
		margin-bottom: 5px;
		font-size: 48px;
}
/*Aviso Tienda*/
.avisotienda {
		color: #FFFFFF;
		background:#971623;
		padding: 10px;
		border-radius: 10px;
		margin-bottom: 10px;
}

.avisotienda h3 {
		text-align: center;
		display: block;
		width: 100%;
		font-size: 18px;
}

.avisotienda li {
		font-size: 14px;
}

.avisotienda ul.nav {
		border-radius: 10px;
		padding: 10px;
		border: solid 1.5px;
}
/*etiqueta pago mp*/
.payment_method_woo-mercado-pago-basic label {
		float: right;
		width: 277px;
}
#payment label {
		font-size: 13px;
}
/*sucursales*/
div#order_sucursal_main_result {
		font-size: 12px;
}


#order_sucursal_main_result select {
		width: 100%;
		
}

/*collapse preguntas frecuentes*/
a.collapse-link {
    color: grey;
    font-weight: 300;
    font-size: 22px;
    border-bottom: 1px solid rgb(128 128 128 / .3);
    padding-bottom: 13px;
    transition: all ease-in .3s;
    text-decoration: none;
}
a.collapse-link:hover{
    color: #971623;
    text-decoration: none;
}
a.collapse-link[aria-expanded="true"] {
    color: #971623;
    font-weight: 500;
    border-color: #971623;
}
/*posts*/
/*estilos posts*/
#posts-home .card-body h3, 
#categorypost .card-body h3,
#posts-dest .card-body h3 {
    display: block;
    color:  #971623;;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 22px;
    font-variant: small-caps;
    transition: all .5s ease-in;
}
.card:hover .card-body h3 {
    color: #383838!important;
}

#posts-home .card a:hover, 
#categorypost .card a:hover,
#posts-dest .card a:hover {
    text-decoration: none;
}

#posts-home .card-body p, 
#categorypost .card-body p,
#posts-dest .card-body p {
    color: #383838;
}

#posts-home .card-footer, 
#categorypost .card-footer,
#posts-dest .card-footer {
    font-size: 12px;
    background: #383838;
}

#posts-home .card-footer a, 
#categorypost .card-footer a,
 #posts-dest .card-footer a {
    color: #fff;
}

#posts-home .card, 
#categorypost .card,  
#posts-dest .card {
    box-shadow: 0px 0px 5px #8c8a8a;
}
#posts-home .card time .fa, 
#categorypost .card time .fa, 
 #posts-dest .card time .fa {
    margin-right: 10px;
}

#posts-home .card .post-categories, 
#categorypost .card .post-categories,  
#posts-dest .card .post-categories {
    list-style: none;
    padding: unset;
    margin-top: 5px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    margin-bottom: 5px;
}
#posts-home, 
#categorypost 
{
    margin-bottom: 50px;
    margin-top: 50px;
}

.card,
#categorypost .card,
#posts-dest .card{
    overflow:hidden;
		overflow: hidden;
    position: relative
}
.card .hover {
    background-color: transparent;
    color: #fff;
    position: absolute;
    top: -200px;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter:blur(50px);
    opacity:0;
    transition: all .5s ease-in;
}
.card .hover h3{
    text-shadow: 1px 1px 4px #1c1c1c;
}
.card:hover .hover{
    filter:blur(0px);
    opacity:1;
    top:0;
    background-color: rgba(143, 12, 12, 0.5);
    

}
#posts-dest .hover {
     height: 100%
}
.hover img {
    height: 60px;
    margin: 0 auto;
}
/*entradas*/
/*entradas*/
.headdingpost-b, .headdingpost{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-bottom:35px

}
.heading-cat {
    display: flex;
    text-align: center;
    align-items: center;
		justify-content: center;
		color:#fff;
    background-repeat: no-repeat;
    background-position: center;
}
.headdingpost-b h1, .headdingpost h1 {
    color:#fff;
    text-align:center;
    text-shadow: 1px 1px 2px #383838;
}


.headdingpost-b ul, .headdingpost ul {
    list-style: none;
    padding: unset;
    font-size: 14px;
}
.headdingpost-b ul li a, .headdingpost ul li a {
    color:#383838;
    font-weight: bolder;
    font-variant: small-caps;
}
.post label, textarea {
    display: block;
    width: 100%;
}

.post-foot {
    padding-bottom: 15px;
    border-bottom: 2px solid;
    margin-bottom: 20px;
}

h3#reply-title {
    display: block;
    padding: 10px;
    background: #971623;
    color: #fff;
}

.logged-in-as a {
    color: #971623;
    font-size: 14px;
    /* text-align: right; */
    display: inline-block;
    margin-bottom: unset;
    font-weight: bold;
}

p.logged-in-as {text-align: right;color: #971623;}

.prev-link a, .next-link a, .home-link a {
    color: #383838;
    font-variant: small-caps;
    font-size: 24px;
}
.prev-link, .next-link, .home-link, .empty-link {
    min-width: 300px;
}

.home-link {text-align: center;}

div#nextpreviouslinks {
    min-height: 60px;
    padding-bottom: 20px;
    border-bottom: 2px solid;
    margin-bottom: 30px;
}
.prev-link, .next-link {
    background:transparent;
    transition: all .4s ease-in;
    padding: 5px 0;
}
.prev-link:hover, .next-link:hover {
   padding: 5px 10px;
    background: #971623;
    clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);

}
.prev-link:hover {
		padding: 5px 10px;
		background: #971623;
		clip-path: polygon(5% 0%, 100% 1%, 100% 100%, 5% 100%, 0% 50%);

}
.prev-link:hover a, .next-link:hover a, .prev-link:hover i, .next-link:hover i{
    color: #fff;
    text-decoration:none;

}
.home-link:hover a{
    color:#971623
}


.post-foot a {
    color: #971623;
    font-variant: small-caps;
}

.comment-respond input#submit {
    padding: 10px;
    background-color: #971623;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    border: none;
    color: #fff;
}
h3#comments {
    font-size: 18px;
}

.commentlist a {
    color: #971623;
}

.commentmetadata a {
    font-size: small;
    color: #7b7b7b;
}

.comment-author {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.reply a {
    background-color: #7b7b7b;
    padding: 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    display: block;
    width: 79px;
    margin-left: auto;
}
.reply a:hover, .reply a:focus {
    background-color: #c9da2a;
    color:#7b7b7b;
    text-decoration:none;
}
.shared-counts-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

span.shared-counts-icon svg  {
    fill: #971623!important;
    
}
/*clientes home*/

section#clientes-botonera {
    color: #fff;
    background-color: #971623;
    padding: 50px 0;
}
.notas {
    padding: 0;
    margin-bottom: 0;
}
.notas a{
	color:#fff
}
.notas a:hover{
	color:#fff
}
/*links footer*/
footer li a {
    font-size: 14px!important;
}
/*posts*/
.card-body p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: unset;
}
/**/


.owl-nav button:hover:after {
    color:#971623;
    
}
.owl-nav button{
   text-shadow:0 0px 0px #3e3e3e;
   transition: all ease .5s
}
.owl-nav button:hover{
    text-shadow:2px 2px 4px #3e3e3e 
}
button.owl-prev {
    float: left;
}
button.owl-prev:after{
    content: "\f053";
}
button.owl-next:after{
    content:'\f054';
}
button.owl-next:after, button.owl-prev:after{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 28px;
}

button.owl-next {
    float: right;
}

.owl-nav button span {
    display: none;
}
.owl-nav{
    position:absolute;
    width:100%;
    top:40%
}
/*down home button*/
a.btn.btn-down {
    font-size: 36px;
    text-align: center;
    display: block;
    position: absolute;
    z-index: 400;
    width: 100%;
    top: 90vh;
    color: #fff;
    text-shadow: 0px 0px 1px #fff;
    transition: all ease .6s;
}
a.btn.btn-down:hover{
    text-shadow: 0px 5px 2px #3e3e3e;
}